<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e2d983">  <td>20/07/03 09:29:39</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestcasesForTopOffersImagesTesting.TopOffersImagesTesting()[pri:0, instance:com.flipcart.testcases.TestcasesForTopOffersImagesTesting@7a4ccb53]">TopOffersImagesTesting</td> 
  <td>main@128359175</td>   <td></td> </tr>
<tr bgcolor="e2d983">  <td>20/07/03 09:30:04</td>   <td>24810</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestcasesForTopOffersImagesTesting.TopOffersImage1WebpageTesting()[pri:0, instance:com.flipcart.testcases.TestcasesForTopOffersImagesTesting@7a4ccb53]">TopOffersImage1WebpageTesting</td> 
  <td>main@128359175</td>   <td></td> </tr>
</table>
